<!doctype html>
<html>

<head>
    <title>SQL injection test application</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
</head>

<body>
    <div class="container">
	<div id="creating" class="col-sm-5">
	    <form action="/init" method="post">
		<button type="submit" class="btn btn-primary btn-lg">Initialize database</button>
	    </form>
	</div>
	<div id="reporting" class="col-sm-5">
	    <form action="/data" method="get">
		<div class="form-group">
                    <input type="text" class="form-control input-lg" name=restriction>Enter a last name</input>
		    <input type="checkbox" class="form-control input-lg" name="securemode">Use parameterized queries</input>
		</div>
		<button type="submit" class="btn btn-primary btn-lg">Retrieve corresponding persons</button>
	    </form>
	</div>
    </div>
</body>

</html>
